<ion-content>
  <ion-grid>
    <ion-row style="margin-top: 15px;">
      <ion-col></ion-col>
      <ion-col>
        <h2>
        <!-- <ion-icon name="person-outline" slot="start"></ion-icon> -->
        Impostazioni Utente</h2>
        <form (ngSubmit)="updateUserRequest()" style="display: inline-flex; margin-top: 5px;" #registerForm="ngForm">
          <ion-list style="--background: white; padding-top: 0px; padding-bottom: 0px;">
        <ion-item lines="full" style="--background: white;">
          <ion-label>Username:</ion-label>
          <ion-input [(ngModel)]="user.username" type="text" name="userName"
            style="--background: white; margin-right: 10px; margin-left: 10px;" required></ion-input>
        </ion-item>
        <ion-item lines="full" style="--background: white;">
          <ion-label>Password:</ion-label>
          <ion-input [(ngModel)]="user.password" type="password" name="password"
            style="--background: white; margin-right: 10px; margin-left: 10px;" required></ion-input>
        </ion-item>
        <ion-item lines="full" style="--background: white;">
          <ion-label>Nome:</ion-label>
          <ion-input [(ngModel)]="user.firstName" type="text" name="firstName"
            style="--background: white; margin-right: 10px; margin-left: 10px;" required></ion-input>
        </ion-item>
        <ion-item lines="full" style="--background: white;">
          <ion-label>Cognome:</ion-label>
          <ion-input [(ngModel)]="user.lastName" type="text" name="lastName"
            style="--background: white; margin-right: 10px; margin-left: 10px;" required></ion-input>
        </ion-item>
        <ion-button type="submit" size="default" color="warning" [disabled]="!registerForm.form.valid" style="margin-top: 10px;">
          <ion-icon name="person-outline" slot="end"></ion-icon>Aggiorna
        </ion-button>
        <ion-button (click)="deleteUserRequest()" size="default" color="danger" style="margin-top: 10px; margin-left: 10px;">
          <ion-icon name="trash-outline" slot="end"></ion-icon>Elimina
        </ion-button>
      </ion-list>
    </form>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
